.navbar{
   
    float: left;

}
a{
    text-align: center;
    color:white;
    border: 1px solid gold;
    border-radius: 3px;
    padding:15px 30px 15px 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    background-color:gray;
}
header{
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
section{
    background-color: #E9ECEF;
}